@{

    ViewBag.Title = "Estadisticas";
}


<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
@*<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>*@
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container">
    <div class="row">
        <div class="btn-group btn-group-justified">
            @*<div class="btn-group">
                <button type="button" class="btn btn-nav">
                    <span class="glyphicon glyphicon-folder-close"></span>
                    <p>Shopping</p>
                </button>
            </div>*@
            <div class="btn-group">
                <button type="button" class="btn btn-nav">
                    <span class="glyphicon glyphicon-calendar"></span>
                    <p>Calendar</p>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-nav">
                    <span class="glyphicon glyphicon-globe"></span>
                    <p>Network</p>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-nav">
                    <span class="glyphicon glyphicon-leaf"></span>
                    <p>Ecology</p>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-nav">
                    <span class="glyphicon glyphicon-time"></span>
                    <p>Statistics</p>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-nav">
                    <span class="glyphicon glyphicon-bell"></span>
                    <p>Events</p>
                </button>
            </div>
        </div>
    </div>
</div>


<header>
    <h1>AppErger<span>Pacientes </span></h1>
    </header>
<div class="component">
    <table class="table table-bordered table-hover table-responsive" style="background-color:white !important;color:black !important;">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Tratamiento</th>
                <th scope="col">Edad</th>
                <th scope="col">Dni</th>
                <th scope="col">Direccion</th>

                <th scope="col" data-orderable="false"> Acciones </th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <th scope="row">Maximiliano</th>
                <th scope="row">Avendaño</th>
                <th scope="row">Circo</th>
                <th scope="row">9</th>
                <th scope="row">40958623</th>
                <th scope="row">Av. Siempreviva 123</th>
                <td>
                    <div class="col-lg-1">
                        <a href="" title="Eliminar" class="color-content m-1">
                            <i Class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                    <div class="col-lg-1">
                        <a href="" title="Editar" class="color-content m-1">
                            <i class="fas fa-user-edit"></i>
                        </a>
                    </div>
                 </td>
            </tr>
            <tr>
                <th scope="row">Rodrigo</th>
                <th scope="row">Reynoso</th>
                <th scope="row">Plantas</th>
                <th scope="row">7</th>
                <th scope="row">42569856</th>
                <th scope="row">Varela 984</th>
                <td>
                    <div class="col-lg-1">
                        <a href="" title="Eliminar" class="color-content m-1">
                            <i Class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                    <div class="col-lg-1">
                        <a href="" title="Editar" class="color-content m-1">
                            <i class="fas fa-user-edit"></i>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">Alejandro</th>
                <th scope="row">Franzot</th>
                <th scope="row">Momias</th>
                <th scope="row">5</th>
                <th scope="row">45987623</th>
                <th scope="row">Don bosco 2343</th>
                <td>
                    <div class="col-lg-1">
                        <a href="" title="Eliminar" class="color-content m-1">
                            <i Class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                    <div class="col-lg-1">
                        <a href="" title="Editar" class="color-content m-1">
                            <i class="fas fa-user-edit"></i>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">Martin </th>
                <th scope="row">Gonzalvo</th>
                <th scope="row">Dinosaurios</th>
                <th scope="row">11</th>
                <th scope="row">39558665</th>
                <th scope="row">Pichincha 586</th>
                <td>
                    <div class="col-lg-1">
                        <a href="" title="Eliminar" class="color-content m-1">
                            <i Class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                    <div class="col-lg-1">
                        <a href="" title="Editar" class="color-content m-1">
                            <i class="fas fa-user-edit"></i>
                        </a>
                    </div>
                </td>
            </tr>
           
        </tbody>
    </table>
</div>

<script>
    var activeEl = 2;
    $(function () {
        var items = $('.btn-nav');
        $(items[activeEl]).addClass('active');
        $(".btn-nav").click(function () {
            $(items[activeEl]).removeClass('active');
            $(this).addClass('active');
            activeEl = $(".btn-nav").index(this);
        });
    });
</script>