
@{
    ViewBag.Title = "cargarlistar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<AppergerWeb.Models.imagenes>

<h2>cargarlistar</h2>

@using (Html.BeginForm("Cargarlistar2", "imagenAzure", FormMethod.Post,new {enctype="multipart/form-data" } ))
{
    <p>subir imagen</p>
    <input type="file"  name="file" class="form-control file-caption" id="imagen" contentType="image/jpeg" />
    <input type="submit" value="Submit" />

}

<div class=" row">
    <div class="col-md-8">
    @if (Model !=null){
        
        <d1>
        <h4>Lista de azure: </h4>
        @foreach(var img in Model) {
            <dd>
                <span>@img.Nombre </span>
                <a href="@img.Url" onclick="verFoto('@img.Url')">ver</a>
                @Html.ActionLink("eliminar", "Cargarlistar", "imagenAzure", new { nombre=img.Nombre},null)
             </dd>
        }
    </d1>
    }
    
    </div>

</div>