@{
                /**/

                ViewBag.Title = "Apperger";

}

<h3>Pacientes</h3>
<div class="row">
    
    
    <div class="card">
        Con apperger vas a poder administrar cada tratamiento y cargar el contenido didáctico que se ajuste a la necesidad de cada chico. Obtené en tiempo real el resultado de cada actividad, no importa donde se encuentre el paciente.
    </div>
   
      
    </div>
