

@{
    if (Session["sessionLogin"] == null) { Response.Redirect("login"); }
    ViewBag.Title = "Pacientes";
}
<h2>Listado de Pacientes</h2>
<div class="row">
    <!-- column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-block">
               


                       @Html.ActionLink(" Agregar Paciente  ", "CrearEditarUsuario", "web", new AjaxOptions
                  {
                      HttpMethod = "GET",
                      InsertionMode = InsertionMode.Replace,
                      UpdateTargetId = "ModalInformacion",
                      OnComplete = "Modal();"
                  }, new { @class = "btn btn-info btn-sm " })
                   
        
                <div class="table table-striped table-bordered table-responsive" style="width:100%">
                    @Html.Partial("ListadoPacientes")

                    </div>
                </div>
        </div>
    </div>
</div>
